$color-background: #080c0f;
$color-primary: #ffee00;
$color-text: #ededed;
$color-surface: #ededed;
$color-muted: #535455;
$color-dropoff-muted: #909192;
$color-order-muted : #969798;
$color-border: #30363a;
$color-card: #0b0f12;
$color-card-soft: #101417;
$color-blue-status: #0C7DED;

$font-family-base: "Open Sans", "Segoe UI", Roboto, Arial, sans-serif;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;

$line-height-base: 1.4;

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 40px;

$radius-md: 12px;
$radius-lg: 20px;
$radius-pill: 999px;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;